<!DOCTYPE html>
<html lang="en">
<!-- Meta Data Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Page Title -->
<title>Home</title>
<!-- Stylesheets from local and CDN -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="./css/style.css">
<body>
    <div class="container-fluid gt erp">
        <img class="cent" src="images/404.svg">
    </div>
    <div>
        <p class="lbl">Oops! Page is not Found</p>
    </div>
</body>
</html>